<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="form-group">
    <label>First Name</label>
    <input class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="employeeService.selectedEmployee.firstName"
      placeholder="First Name" required>
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required</div>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="employeeService.selectedEmployee.lastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label>Email ID</label>
    <input class="form-control" name="emailId" #emailId="ngModel" [(ngModel)]="employeeService.selectedEmployee.emailId" placeholder="Email ID"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <div class="alert alert-danger" *ngIf="emailId.touched && !emailId.valid">Enter valid Email ID</div>
  </div>
  <div class="form-group">
    <label>Mobile Number</label>
    <input class="form-control" name="phoneNo" #phoneNo="ngModel" [(ngModel)]="employeeService.selectedEmployee.phoneNo" placeholder="Mobile Number">
  </div>
  <div class="form-group">
    <label>Status</label>
    <select class="form-control" name="status" #status="ngModel" [(ngModel)]="employeeService.selectedEmployee.status" placeholder="Select Status">
      <option value="Active">Active</option>
      <option value="Inactive">Inactive</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!employeeForm.valid">
      <i class="fa fa-floppy-o"></i>
      Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">
      <i class="fa fa-repeat"></i>
      Reset</button>
  </div>
</form>
